
/*----------------Document Style Elements-----------*/

* {
    box-sizing: border-box;
}

.wrapper {
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #ffffff;
}

/*--------------------------------------------------------------------------------*/
                                  /*Title page*/
/*--------------------------------------------------------------------------------*/


.title {
    background-image: url("../images/Sections background/section-1.jpg");
    width: 100%;
    height: 1012px;
}

/*--------Logo------*/

.logoNavWrapper {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: rgba(67, 67, 67, 0.5);
}

.logoDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoDiv p {
    font-size: 25px;
    color: white;
    margin-left: 8px;
}

.logoDiv p span {
    color: #18cfab;
    font-weight: 600;
}

.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 58px;
    height: 67px;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon::after {
    content: 'H';
    color: white;
    font-size: 40px;
    font-weight: 600;
}

/*--------Nav------*/

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
}

.navyDiv {
    width: 60%;
    display: flex;
    justify-items: left;
    align-items: center;
    text-transform: uppercase;
}

.navyDiv a {
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
    color: #b8b8b8;
    font-weight: 700;
    position: relative;
    transition: color 0.4s ease;
}

.navyDiv a:hover {
    color: #18cfab;
}

.navyDiv a::after {
    content: '';
    height: 2px;
    border: none;
    background-color: #18cfab;
    left:0;
    top:64px;
    width: 100%;
    transition: all 0.3s linear;
}

.navyDiv a:last-child::after {
    content: '';
    height: 2px;
    border: none;
    background-color: #b8b8b8;;
    left:0;
    top:68px;
    width: 100%;
    transition: background-color 0.4s ease;
}

.navyDiv a:hover::after {
    position: absolute;
    background-color: #18cfab;
}

.navyDiv :last-child a {
    font-size: 20px;
}

/*--------H1; Message and title Buttons----*/

.messageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    max-width: 1160px;
    margin: auto;
}

.messageWrapper p {
    font-size: 35px;
}

.messageWrapper span {
    color: #18cfab;}

h1 {
    font-size: 70px;
    margin: 45px 0 36px 0;
}

.messageWrapper :nth-child(3) {
    font-size: 26px;
    font-weight: 300;
    color: #d4d4d4;
    margin-bottom: 140px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.buttonsDiv :last-child {
    background-color: #00cbf6;
}

.buttonsDiv a {
    text-decoration: none;
    height: 57px;
    width: 166px;
    background-color: #18cfab;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
}

.buttonsDiv a:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

/*-----------------title description blocks---------------------*/

.titleDescriptionWrapper {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 7px 374px;
}

.titleDescriptionWrapper div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.titleDescriptionWrapper div:nth-child(1),
.titleDescriptionWrapper div:nth-child(3),
.titleDescriptionWrapper div:nth-child(6),
.titleDescriptionWrapper div:nth-child(8) {
    background-color: #18cfab;
}

.titleDescriptionWrapper div:nth-child(5),
.titleDescriptionWrapper div:nth-child(7) {
    background-color: #1c2a33;
    color: #18cfab;
}

/*--------------------------------------------------------------------------------*/
                                 /*Our Services*/
/*--------------------------------------------------------------------------------*/

.ourServicesWrapper {
    max-width: 1160px;
    margin: auto;
    margin-bottom: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.ourServicesWrapper h3 {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin: 60px 0 85px 0;
}

.ourServicesWrapper h3::after,
.ourServicesWrapper h3::before {
    position: absolute;
    content: '';
    width: 76px;
    background-color: #18cfab;
    border: none;
    height: 1px;
}

.ourServicesWrapper h3::after {
    top: calc(100% + 41px);
    left: calc(50% - 76px / 2)
}

.ourServicesWrapper h3::before {
    top: calc(100% + 37px);
    left: calc(50% - 76px / 2 - 10px)
}

.ourServicesButtons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: 73px;
    margin-bottom: 25px;
}

.ourServicesButton {
    border-left: 1px solid #ebecec;
    border-top: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
    background-color: #f8fcfe;
    font-size: 16.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourServicesButtons :nth-child(6) {
    border-right: 1px solid #ebecec;
}

.ourSerActiveBtn {
    position: relative;
    background-color: #18cfab;
    color: white;
}

.ourSerActiveBtn::after {
    content: "";
    background-color: #18cfab;
    width: 24px;
    height: 13px;
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.ourServicesData {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    border: none;
}

.ourServicesData div[data-tab] {
    display: flex;
    overflow: hidden;
    height: 139px;
}

.ourServicesBlockIMG {
    width: calc(100% / 6);
    overflow: hidden;
}

.ourServicesBlockText {
    width: calc(100% * (5 / 6) );
    background-color: white;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;
    word-break: break-all;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ourServicesData div[data-tab="0"] img,
.ourServicesData div[data-tab="1"] img,
.ourServicesData div[data-tab="2"] img,
.ourServicesData div[data-tab="3"] img {
    transform: translate(-19px, -43px);
}

.ourServicesData div[data-tab="4"] img {
    transform: translate(-42px, -41px);
}

.ourServicesData div[data-tab="5"] img {
    transform: translate(-25px, 0px);
}

.ourServicesData div[data-tab]:not([data-tab ="0"]) {
    display: none;
}

/*--------------------------------------------------------------------------------*/
                                /*Everything is ready*/
/*--------------------------------------------------------------------------------*/

.everythingWrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 476px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.everythingWrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #18cfab;
    font-weight: 600;
    margin-bottom: 35px;
}

.everythingWrapper p {
    font-size: 16px;
    color: #d8d8d8;
}

.everythingWrapper .buttonsDiv {
    justify-content: center;
}

.everythingWrapper .buttonsDiv a {
    background-color: #18cfab;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

/*--------------------------------------------------------------------------------*/
                          /*Our Amazing work*/
/*--------------------------------------------------------------------------------*/

.ourAmazingExternalWrapper {
    width: 100%;
    margin: auto;
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}

.ourAmazingWrapper {
    max-width: 1160px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: #f8fcfe;
}

.ourAmazingWrapper h3 {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin: 60px 0 85px 0;
}

.ourAmazingWrapper h3::after,
.ourAmazingWrapper h3::before {
    position: absolute;
    content: '';
    width: 76px;
    background-color: #18cfab;
    border: none;
    height: 1px;
}

.ourAmazingWrapper h3::after {
    top: calc(100% + 41px);
    left: calc(50% - 76px / 2)
}

.ourAmazingWrapper h3::before {
    top: calc(100% + 37px);
    left: calc(50% - 76px / 2 - 10px)
}

.ourAmazingButtons {
    display: flex;
    margin-bottom: 71px;
}

.ourAmazingButton {
    padding: 20px;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.ourAmazingActiveBtn {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.ourAmazingButton:last-child {
    border-right: 1px solid #ebebeb;
}

/*-------------------Our Amazing Images-----------*/

.ourAmazingImgsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourAmazingImgsBlock-First,
.ourAmazingImgsBlock-Second,
.ourAmazingImgsBlock-Third {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 1136px;
}

.ourAmazingImgsBlock-Second,
.ourAmazingImgsBlock-Third {
    display: none;
}

            /*---------------Style for Amazing Cards--------------*/

.mainContainer {
    position: relative;
    width: 284px;
    height: 206px;
    overflow: hidden;
}

.theCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.theCard:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color: #4e4e4e;
    border-top: 3px solid #18cfab;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.back > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back div span {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    background: #18cfab;
    color: white;
}

.back div span:first-child {
    background: white;
    color: #18cfab;
}



.backCardTitle {
    text-align: center;

}

.backCardTitle :first-child {
    margin-bottom: 10px;
    color: #18cfab;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.backCardTitle :last-child {
    font-size: 13px;
    font-weight: 400;
    color: #b8b8b8;
}

/*button*/

.amazingWorkBtn,
.galleryButton {
    width: 165px;
    margin-top: 71px;
    background-color: #18cfab;
    color: white;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

.galleryButton {
    margin-top: 0;
}

.amazingWorkBtn div,
.galleryButton div {
    background-color: #18cfab;
    line-height: 30px;
    vertical-align: middle;
}

.amazingWorkBtn span:first-child,
.galleryButton span:first-child {
    font-size: 30px;
}

.amazingWorkBtn span,
.galleryButton span {
    vertical-align: middle;
}

/*-------------------Loading element--------------------*/

.loadingWrapper {
    position: relative;
    --loading-size: 75px;
}

.loading {
    display: none;
    margin-top: 10px;
    width: var(--loading-size);
    height: var(--loading-size);
    border-radius: 50%;
    border-top: 5px solid #264653;
    position: absolute;
    left: -50px;
    top: -80px;
    animation: a1 2s linear infinite;
}

.loading::before,
.loading::after {
    content: '';
    width: var(--loading-size);
    height: var(--loading-size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -10px;
}

.loading::before {
    border-top: 10px solid #2a9d8f;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #e9c46a;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    top:0;
    left: 0;
    width: var(--loading-size);
    height: var(--loading-size);
    line-height: var(--loading-size);
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #05668d;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to{
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to{
        transform: rotate(-360deg);
    }
}
/*--------------------------------------------------------------------------------*/
                                /*Breaking News*/
/*--------------------------------------------------------------------------------*/

.breakingNewsWrapper {
    max-width: 1160px;
    margin: auto;
    margin-bottom: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.breakingNewsWrapper h3 {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin: 60px 0 85px 0;
}

.breakingNewsWrapper h3::after,
.breakingNewsWrapper h3::before {
    position: absolute;
    content: '';
    width: 76px;
    background-color: #18cfab;
    border: none;
    height: 1px;
}

.breakingNewsWrapper h3::after {
    top: calc(100% + 41px);
    left: calc(50% - 76px / 2)
}

.breakingNewsWrapper h3::before {
    top: calc(100% + 37px);
    left: calc(50% - 76px / 2 - 10px)
}

/*------------------------------Cards Wrapper---------------------------*/

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 45px;
    grid-column-gap: 28px;
}

.card {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    background-color: #f8fcfe;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.card .card_before {
    content: '';
    width: 68px;
    height: 66px;
    position: absolute;
    top:0;
    right:0;
    background-color: #203e38;
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear
}

.card .card_before span:first-child {
    font-weight: normal;
    margin-bottom: 5px;
    color: white;
}

.card figure {
    width: auto;
    height: 208px;
}

.card > div {
    width: 100%;
    padding: 10px;
    background-color: #f8fcfe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ebebeb;
    color: #717171;

}

.card > div > span:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #717171;
    transition: all 0.4s linear
}

.card > div > div {
    margin-top: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.card > div > div span {
    font-size: 14px;
    font-weight: 300;
}

.card > div > div span:last-child {
    margin-left: 30px;
    position: relative;
}

.card > div > div span:last-child::before {
    content: '';
    height: 14px;
    width: 1px;
    border: none;
    background-color: #777777;
    position: absolute;
    top: 2px;
    left: -15px;
}

.card:hover .postAmazing {
    color: #18cfab;
}

.card:hover .card_before {
    background-color: #18cfab;
}

/*--------------------------------------------------------------------------------*/
                                 /*What People say*/
/*--------------------------------------------------------------------------------*/

.whatPeopleSayWrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.whatPeopleSayInternalWrapper {
    margin: auto;
    width: 1160px;
    /*height: 851px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.whatPeopleSayInternalWrapper h3 {
    font-size: 36px;
    color: white;
    position: relative;
    margin: 98px 0 103px 0;
}

.whatPeopleSayInternalWrapper h3::after,
.whatPeopleSayInternalWrapper h3::before {
    position: absolute;
    content: '';
    width: 76px;
    background-color: #18cfab;
    border: none;
    height: 1px;
}

.whatPeopleSayInternalWrapper h3::after {
    top: calc(100% + 41px);
    left: calc(50% - 76px / 2)
}

.whatPeopleSayInternalWrapper h3::before {
    top: calc(100% + 37px);
    left: calc(50% - 76px / 2 - 10px)
}

.qIcon {
    margin-bottom: 44px;
}

.commentBox {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    margin-bottom: 44px;
}

.commentBox :first-child {
    margin-bottom: 44px;
}

.commentBox :nth-child(2) {
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 600;
}

.commentBox :last-child {
    font-size: 12px;
}

.commentBox {
    display: none;
    opacity: 0;
}

.activeCommentBox {
    display: block;
    opacity: 1;
}

.animatedActiveCommentBox {
    display: block;
    opacity:0;
}


/*-------------------SLIDER---------------------*/

/*Common slider style settings */

.slider {
    width: 400px;
    position: relative;
    margin-bottom: 103px;
}

.sliderBig {
    width: 180px;
    margin-bottom: 40px;
}

.sliderItem {
    outline: none;
}

.sliderBigItem {
    outline: none;
}

.sliderItem img {
    height: 61px;
    width: 61px;
    border-radius: 50%;
    cursor: pointer;
}

.sliderBigItem img {
    height: 161px;
    width: 161px;
    border-radius: 50%;

}

.slick-track {
    display: flex;
    text-align: center;
    align-items: center;
}

.slider .slick-track {
    height: 100px;
}

.sliderBig .slick-track {
    height: 200px;
}

.slick-list {
    overflow: hidden;
}
/*Slider arrows styling*/

.slider .slick-arrow {
    position: absolute;
    background: transparent;
    top:50%;
    z-index: 10;
    transform: translateY(-50%);
    height: 31px;
    width: 31px;
    font-size: 0;
    cursor: pointer;
}

.slider .slick-arrow.slick-prev {
    left: -40px;
    border: 1px solid #919697;
}
.slider .slick-arrow.slick-next {
    right: -40px;
    border: 1px solid #919697;
}

.slider .slick-arrow.slick-prev::before,
.slider .slick-arrow.slick-next::before {
    position: absolute;
    height: 15px;
    width: 15px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(59%) sepia(7%) saturate(168%) hue-rotate(142deg) brightness(100%) contrast(87%);
}

.slider .slick-arrow.slick-prev::before {
    content: url(../images/SliderArrows/back.svg);
}
.slider .slick-arrow.slick-next::before {
    content: url(../images/SliderArrows/next.svg);
}

.slider .slick-arrow.slick-prev:hover,
.slider .slick-arrow.slick-prev:focus,
.slider .slick-arrow.slick-next:hover,
.slider .slick-arrow.slick-next:focus {
    background-color: #18cfab;
    border: none;
    outline: none;
}

.slider .slick-arrow.slick-prev:hover::before,
.slider .slick-arrow.slick-prev:focus::before,
.slider .slick-arrow.slick-next:hover::before,
.slider .slick-arrow.slick-next:focus::before{
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

/* Slides style settings*/

.slider .div[data-slick-index='0'] {
    background-color: #00cbf6;
}

.slider .slideInFocus img {
    transform: translateY(-7px);
    transition: transform 0.3s linear;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.2);
}

.sliderBig .slick-current img {
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 9px rgba(24, 207, 171, 0.2);
}

/*--------------------------------------------------------------------------------*/
                    /*--------Gallery of best images---------*/
/*--------------------------------------------------------------------------------*/

.galleryExternalWrapper {
    width: 100%;
    margin: auto;
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.galleryInternalWrapper {
    max-width: 1160px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #f8fcfe;
}

.galleryInternalWrapper h3 {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin: 60px 0 85px 0;
}

.galleryInternalWrapper h3::after,
.galleryInternalWrapper h3::before {
    position: absolute;
    content: '';
    width: 76px;
    background-color: #18cfab;
    border: none;
    height: 1px;
}

.galleryInternalWrapper h3::after {
    top: calc(100% + 41px);
    left: calc(50% - 76px / 2)
}

.galleryInternalWrapper h3::before {
    top: calc(100% + 37px);
    left: calc(50% - 76px / 2 - 10px)
}

/*--------------------------------------------------------------------------------*/
                /*--------Masonry---------*/
/*--------------------------------------------------------------------------------*/
.grid {
    width: 1160px;
}

.grid-item {
    width: 32%;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}

.grid-itemW2 {
    width: 31%;
}

.gutter-sizer {
    width: 2.1%;
    margin-left: -1px;
}

.gridInternalWrapper {
    height: 453px;
}

.gridTwoShelter {
    margin-bottom: 6px;
}

.gridTwo-item {
    width: 49%;
    overflow: hidden;
    position: relative;
}

.gutterForGridTwo-item {
    width: 2%;
}

.gridThree-item {
    width: 32%;
    overflow: hidden;
    margin-bottom: 2px;
}

.gutterForGridThree-item {
    width: 2%;
}

/*Hover buttons on images*/

.hoverButtons,
.gridTwohoverButtons,
.gridThreehoverButtons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    transition: opacity 0.3s linear;

}

.hoverButtons span,
.gridTwohoverButtons span,
.gridThreehoverButtons span {
    width: 45px;
    height: 40px;
    background: #14b9d5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.hoverButtons span:last-child,
.gridTwohoverButtons span:last-child,
.gridThreehoverButtons span:last-child {
    margin-left: 10px;
}

.grid-item:hover .hoverButtons {
    opacity: 1;
}

.gridTwo-item:hover .gridTwohoverButtons {
    opacity: 1;
}

.gridThree-item:hover .gridThreehoverButtons {
    opacity: 1;
}

.hoverButtons i,
.gridTwohoverButtons i,
.gridThreehoverButtons i {
    color: white;
}
/*------------Additional images---------------*/

.galleryButtonWrapper {
    text-align: center;
}

.secondImgBlockGallery,
.thirdImgBlockGallery {
    display: none;
}

.galleryButton {
    margin-bottom: 100px;
    z-index: 110;
}

/*-------------------Loading element--------------------*/

.loadingWrapperGallery {
    position: relative;
    --loading-size: 75px;
    left: 50%;
}

.loadingGallery {
    display: none;
    margin-top: 10px;
    width: var(--loading-size);
    height: var(--loading-size);
    border-radius: 50%;
    border-top: 5px solid #264653;
    position: absolute;
    left: -34px;
    top: -182px;
    animation: a1 2s linear infinite;
}

.loadingGallery::before,
.loadingGallery::after {
    content: '';
    width: var(--loading-size);
    height: var(--loading-size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -10px;
}

.loadingGallery::before {
    border-top: 10px solid #2a9d8f;
    transform: rotate(120deg);
}

.loadingGallery::after {
    border-top: 10px solid #e9c46a;
    transform: rotate(240deg);
}

.loadingGallery span {
    position: absolute;
    top:0;
    left: 0;
    width: var(--loading-size);
    height: var(--loading-size);
    line-height: var(--loading-size);
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #05668d;
    animation: a2 2s linear infinite;
}

/*--------------------------------------------------------------------------------*/
                                /*FOOTER*/
/*--------------------------------------------------------------------------------*/

footer {
    width: 100%;
}

footer p {
    background: #22353f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    font-size: 14px;
    color: #aeaeae;
}

footer span {
    color: #18cfab;
}

footer div {
    height: 10px;
    background: white;
}












